
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
 
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  background: linear-gradient(to right top,#43399f,#4ec4c9);
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
}

/* 
.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
	background: #fff;
	color: #333;
	font-family: "Open Sans", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: linear-gradient(to right top, #43399f, #4ec4c9);
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.container {
	display: flex;
	height: 100px;
	position: relative;
	margin-bottom: 16px;
}

.container > div {
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.one {
	position: relative;
	border-radius: 4px;

	width: 20px;
	background-color: white;
}

.one::after {
	content: "";
	position: absolute;
	background-color: white;
	width: 40px;
	height: 20px;
	right: 4px;
	top: 10px;
	border-radius: 4px;
	z-index: -1;
	rotate: -45deg;
	transform: translateZ(-1);
}

.zero {
	border-style: solid;
	border-width: 25px;
	border-radius: 100%;
	height: 50%;
	aspect-ratio: 1 / 1;
	margin-left: -10px;
}

.zero.first {
	z-index: -1;
}
.zero.second {
	z-index: -2;
}

.days {
	font-family: "Courier New";
	font-weight: 900;
	font-size: 5rem;
	line-height: 50px;
	margin: 0;
}
.challenge {
	font-family: "Courier New";
	font-size: 24px;
	font-weight: medium;
	letter-spacing: 0rem;
	margin: 0;
} */
