
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 2rem 0; /* Provides space in top and bottom of form */
  font-family: Arial,sans-serif;
  background-image: url('/Images/PaintingBgImg.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#title{
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px; 
}

#description{ 
  margin-bottom: 1rem; /* Provides space below description */
  text-align: center;
  font-style: italic;
  font-weight: 200;
}

#survey-form{
  background:rgba(255,255,255,0.2);
  max-width: 600px; /* Include responsive units */
  min-width: 300px;
  margin: 0 auto;
  padding: 3rem 2.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.16);
  backdrop-filter: blur(20px);
}

label{
  display: block;
  margin: 0 0.5rem 10px;
}

.question {
  padding-top: 1rem;
  margin-left: 8px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.inputFieldStyle{
  width: 100%;
  min-height: 2.5rem;
  margin: 10px 0 0 0;
  padding:0.2rem;
  border-radius: 10px;
}

fieldset{
  border: none;
}

.inline{
  width: unset;
  margin: 0 0.5em 3px 0px;
  vertical-align: middle;
  display: inline-block;
}

input[type="submit"]{
  background-color: #ffe367;
  border: none;
  height: 3rem;
  border-radius: 12px;
  font-size: 20px;
  display: block;
  width: 100%;
  font-weight: bold;
}

